body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #F6F4F0;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: #C70000;
    padding: 1rem 0;

}

.navbar-brand img {
    height: auto;
}

.navbar-nav .nav-link {
    color: white;
    margin: 0 10px;
    font-weight: bold;
    transition: transform 0.3s ease, color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #F5F3EC;
}

footer {
    position: relative;
    width: 100%;
    background-color: #15151E;
    padding: 1rem 0;
    z-index: 10;
}
.teams-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.team {
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #ccc
}

 .team:hover {
     transform: translateY(-5px);
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
 }

 .team:active {
     transform: scale(0.98);
     transition: transform 0.1s ease-in-out;
 }

.team-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.team-name {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.team-logo {
    width: 30px;
    height: auto;
}

.team-car {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}
.team-drivers {
    margin: 10px 0;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.driver-name {
    flex: 1;
    text-align: center;
}

.driver-separator {
    flex: 0;
    padding: 0 10px;
}
.team-drivers span {
    display: inline-block;
}